.button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #ccae17;
    position: absolute;
    top: 15px;
    left: 692px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 110px;
    height: 92px;
  }

  .jsBeginnerWant {
    position: absolute;
    top: 21px;
    left: 39px;
    font-size: 18px;
    font-weight: 500;
    color: #121212;
    display: inline-block;
    width: 398px;
    height: 35px;
  }
  .askQuestion,
  .frameChild {
    position: absolute;
    top: 33px;
    left: 444px;
  }
  .askQuestion {
    top: 41px;
    left: 456px;
    font-size: var(--font-size-xs);
  }
  .askQuestion,

  .span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: var(--color-black);
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  .minutesAgo {
    color: var(--color-gray-100);
  }
  .answers10,
  .asked15MinutesContainer,
  .modified15MinutesContainer {
    position: absolute;
    top: 95px;
    left: 39px;
    font-weight: 500;
    display: inline-block;
    width: 124px;
    height: 18px;
  }
  .answers10,
  .modified15MinutesContainer {
    top: 96px;
    left: 175px;
    width: 134px;
  }
  .answers10 {
    top: 95px;
    left: 322px;
  }
  .frameItem {
    position: absolute;
    top: 125.5px;
    left: -0.5px;
    border-top: 1px solid #e2c224;
    box-sizing: border-box;
    width: 568px;
    height: 1px;
  }
  .jsBeginnerWantToInsertTeParent {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    /* font-size: var(--font-size-3xs);
    color: var(--color-darkslategray);
    font-family: var(--font-inter); */
  }

.thread{
  padding: 4% 0;
  position: relative;
  background-color: #fff;
  background-size: cover;
  margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}

.question_details_row{
  width: 90%;
  max-width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  padding: 2% 0;
  margin: auto;
  border: 0;
    outline: 0;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}

.question_col{
  width: 85%;
  margin-right: 0;
  float: left;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

.question{
  margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%;
    font-size: 24px; */
  
  text-align: left;
  word-wrap: break-word;
  position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
    

  
}

.button_col{
  margin-right: 0!important;
  position: relative;
    z-index: 2;
    min-height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

.button1{
  text-align: center;
  cursor: pointer;
  color: #000000!important;
    border-width: 0px!important;
    border-radius: 10px;
    font-size: 14px;
    background-color: #ffd401;
    padding-top: 8px!important;
    padding-right: 20px!important;
    padding-bottom: 8px!important;
    padding-left: 20px!important;
    display: inline-block;
    position: relative;
    font-weight: 550;
    margin-top: 2.3px;
    margin-left: 10px

}
  
  
div {
  display: block;
}

body {
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 15px!important;
  color: #333333!important;
  line-height: 1.7em!important;
  font-weight: 500!important;
  -webkit-font-smoothing: antialiased!important;
  background-color: #fff!important;
}

h2 {
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 24px!important;
  color: #333333!important;
  padding-bottom: 10px!important;
  line-height: 1em!important;
  font-weight: 500!important;
}

h3{
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 18px!important;
  color: #444444!important;
  padding-bottom: 10px!important;
  line-height: 1.5em!important;
  font-weight: 500!important;
}

h4{
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 14px!important;
  color: #444444!important;
  padding-bottom: 10px!important;
  line-height: 10px!important;
  font-weight: 500!important;
}

strong {
  font-weight: 700!important;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  color: var(--color-black);
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}

p{
  padding-bottom: 0;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
    font-size: 14px;
}

.LogoText{
  color:#444444;
  font-size: 16px;
  font-weight: 800;
  display: inline-block;
}

votes{
  text-align: center;
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif;
  color: #333;
  line-height: 1.7em;
  font-weight: 700;
  font-size: 20px;

}

.question_details{
  padding-top: 0px!important;
  padding-bottom: 10px!important;
  width: 90%;
    max-width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    border-bottom: 1px solid #ffd401;
}

.details_module{
  text-align: left;

}
.question_des_row{
  padding: 2% 0;
  width: 85%;
  margin: auto;
  position: relative;
  
}

.question_answer_code{
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif;
    border-radius: 0 0 0 0;
    overflow: hidden;
    border-left-width: 5px;
    border-left-color: #999999;
    border-style: solid;
    padding-left: 20px!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    background-color: #fff;
    line-height: 2em;
    font-size: 15px;
    color: #666;
  
}



.question_tags_col{
  padding-top: 10px;
  padding-bottom: 0px;
}

tags{
  color: #555555!important;
  text-align: left;
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif;
    -webkit-text-decoration-color: #333333;
    text-decoration-color: #333333;
    font-size: 12px;
    border: 1px solid #ffd401;
    padding: 5px 10px;
    
    margin-right: 10px;
}

.question_answer_count{
  padding: 1% 0;
  width: 90%;
  margin: auto;
  position: relative;
  border-top: 1px solid #d8d2d2;
}

.answer_row{
  padding: 2% 0;
  width: 85%;
  margin: auto;
  position: relative;  
}

.comment_col{
  width:100%;
  float: left;
}

.comment{
  width: 93%;
  float: right;
  border-top: 1px solid #d8d2d2;
  border-bottom: 1px solid #d8d2d2;
  padding: 10px 0px;
}

comment_user{
  background-color: #d8d2d2;
  border: 1px solid #ffd401;
  border-radius: 2px;
  padding: 1px 3px;
  margin: 0 5px;
}

comment_time{
  text-decoration: underline #666 1px;
  font-size: 12px;
}

.votes_col{
  width:7%;
  float: left;
}

.answer_col{
  width:93%;
  float: left;
}

.get_answer_col{
  padding: 2% 0;
  width: 85%;
  margin: auto;
  position: relative;
}

a{
  color: #333333;
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif;
  text-decoration: underline;
}

.modal_comment, .overlay {
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.comment_modal{
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 3px;
    max-width: 700px;
    min-width: 500px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.TopRow{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  background: #eaeaea;
  grid-template-columns: 6fr 1fr;
  padding: 3% 8%;
}

.Questions{
  width: 80%;
  max-width: 100%;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d8d2d2;  
  margin-left: auto!important;
  margin-right: auto!important;
  border-right-width: 1px;
  border-right-color: #d8d2d2;
  border-left-color: #d8d2d2;
  border-left-width: 1px;
  height: 120px;
  overflow: hidden;
}

.QuestionListCol{
  align-items: center;
  border-style: solid;
  width: 22.75%;
  margin-right: 2.5%;
  text-align: right!important;
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.QuestionInfoList{
  font-size: 14px;
  text-align: right;
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif;
  color: #666;
  line-height: 1.7em;
  font-weight: 500;
  padding-right: 20px;
}

.QuestionDesCol{
  cursor: pointer;
  border-style: solid;
  width: 74.25%;
  float: none;
  display: inline-block;
  vertical-align: middle;
  
}

.QuestionStats{
  font-size: 12px;
  text-align: right;
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif;
  color: #666;
  line-height: 1.7em;
  font-weight: 500;
  padding-right: 20px;
  height: 120px;
  overflow: hidden;
  padding: 10px 0px;;

}

.AnswerBody{
  overflow: hidden;
}

.Header{
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
  margin: auto;
  position: relative;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ffd401; 
  align-items: center;
  display: flex;
  height: 70px;
}

.LogoCol{
  width:15%;
  float: left;
  z-index: 2;
  display: flex;
}

.SearchBar{
  width: 65%;
  float: left;
  position: relative;
  z-index: 2;
}

.LoginHeader {
  width: 20%;
  position: relative;
  z-index: 2;
  padding-left: 30px;
}

.LogoCol{
  display: flex;
  align-items: center;
}

.SearchResults{
  display: flex;
  align-items: center;
  padding: 20px 100px;
  height: 50px;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666666; 
}

.LoginRegistration{ 
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.LoginRegister{
  background-color: #ffffff;
  margin: auto;
  position: relative;
  width: 55%;
  max-width: 100%;
  border-radius: 25px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #ffd401;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.PromptRegister{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LinkText{
  font-family: 'Inter',Helvetica,Arial,Lucida,sans-serif!important;
  font-size: 15px!important;
  color: #333333!important;
  font-weight: 500!important;
  text-decoration: none!important;
  text-decoration-color: #333333;
}

.AskQuestion{
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuestionColumn{  
  background-color: #ffffff;
  border-left: #ffd401 1px solid;
  border-right: #ffd401 1px solid;
  margin: auto;
  position: relative;
  width: 70%;
  max-width: 100%;
  padding: 50px 30px;
}

.button2{
  margin-top: 10px!important;
  text-align: center;
  cursor: pointer;
  color: #000000!important;
  border: 0px;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 15px;
  background-color: #ffd401;
  display: inline-block;
  position: relative;
  font-weight: 550;
  position: relative;
  text-align: right;
}

.Footer{
  border-top: 1px solid #ffd401;
  background-color: #ffffff;
  height: 50px;
  width: 100%;
}

.FooterText {
  position: relative;
  text-align: right;
}

.CommentText{
  
  width: 78%;
  float: left;
}

.CommentDate{
  width: 22%;
  float: right;
}

.CommentDisplay{
  border-bottom: 1px solid #ffd401!important;
  margin: auto;
  width: 95%;
  padding-bottom: 30px;
}

.UserProfile{
  padding: 10px 0px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.QuestionAnswered{
  border: 1px solid #ffd401;
  padding: 30px 30px;
  float: left;
  width: 35%;
}
.QuestionAsked{
  margin-left: 20px;
  border: 1px solid #ffd401;
  padding: 30px 30px;
  float: left;
  width: 35%;
}
.Logout{
  padding: 20px 40px;
  width: 90%;
}

.UserDetails{
  padding: 20px 40px;
  width: 90%;
}

.UserProfilePage{
  min-height: 80vh;
}